<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>회원가입 테스트</h1>
  <form action="/add" method="post">
    <ul>
      <li><label>이름 : </label><input name="name" type="text"> </li>
      <li><label>ID : </label><input name="id" type="text"></li>
      <li><label>PW : </label><input name="pw" type="text"></li>
      <li><label>나이 : </label><input name="age" type="number"></li>
      <li><label>이메일 : </label><input name="email" type="text"></li>
      <li><input type="submit" value="회원가입"> </li>
    </ul>
  </form>

</body>
</html>